@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&family=Roboto:wght@500&family=Source+Sans+Pro:wght@600&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-image: url(./img/imagenbody.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.divlogo{
    background-color: black;
    opacity: 0.5;
    display: flex;
    align-items: center;
    padding: 20px;

    img {
        width: 100%;
    }
}

.header_nav_div{
    height: 190px;
    overflow-x: scroll;
    background-color: black;
    opacity: 0.5; 
    
    ul {
        list-style: none;
    }
} 

main{ 
    padding: 5px;
}
.main_h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(252, 248, 248);
    text-align: center; 
    margin-bottom: 20px;   
}
.main_div_lorem{
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;  
    font-weight:500;
    padding: 30px;
    position: relative;

    .fondo {
        position: absolute;
        top: 0;
        left: 0;
        background-color:rgb(0, 0, 0);
        opacity: 0.6;
        border-radius: 40px;
        width: 100%;
        height: 100%;
        z-index: -999;
    }
}

footer{
    background-color: rgb(97, 97, 97);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0.7;
}

.footer_ul{
display: flex;
padding: 15px;
list-style: none;
}

.colora{
    color: blanchedalmond;
}

.footer_redes{
display: flex;
justify-content: end;
}

.footer_redes a{
padding: 15px;
}

.imagenredes{
    width: 30px;
}

/*aqui empieza "nosotros"*/

.main_nosotros{
    justify-content: space-evenly;
    padding: 15px;
}

.nosotros_main_div{
background-color: bisque;
opacity: 0.8;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
border-radius: 30px;
width: 100%;
padding: 15px;
margin: 5px;
}

.nosotros_main_h1{
color: grey;
text-align: center;
padding: 15px;
}

.nosotros_main_parrafos{
color: gray;
text-align: center;
}

.nosotros_main_linea{
color: grey;
}

.nosotros_main_ul{
color: grey;
text-align: center;
margin: 30px;
}

.nosotros_main_li{
color: grey;
margin: 30px;
font-size: 2rem;
}

.proyectos_video{
    width: 100%;
    border-radius: 30px;
}

.contacto_div{
    background-color: grey;
    height: 97%;
    width: 70%;
    margin: 0 auto;
    border-radius: 40px; 
}

.contacto_form{ 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100%;     
}

.contacto_fieldset{
    width: 100%;
    height: 100%;
}

.contacto_titulo{
    color: rgb(27, 27, 27);
    text-align: center;
 }

.contacto_datos{
   margin: 10px 20px;
}

.contacto_espaciocomentarios{
    width: 95%;
    height: 30%;
    margin: 0 auto;
}

.contacto_comentarios{
height: 100%;
width: 100%;
}

.contacto_espaciobotones{
    text-align: center;
    margin-top: 10px;
}

.contacto_botones{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(73, 72, 72);
    padding: 9px;
    font-weight: bold;
}

:placeholder-shown{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (min-width:768px){

    .content {
        grid-template-areas: 
        "logo menu"
        "contenido contenido"
        "footer footer";
        grid-template-columns: 0.5fr;
    }

    .header_nav_div{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: unset;
        place-self: center;
        width: 100%;
    } 

    .divlogo{
        width: 100%;
    }

    .header_nav_div ul{
        display: flex;
        flex-wrap: wrap;
    }
    .main_nosotros{
        flex-direction: row;
    }
    .nosotros_main_div{
        width: 40%;
    }
    .proyectos_video{
        width: 50%;
    }
}

.fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }

  @keyframes fadeIn {
    0% {
        opacity:0;
        transform: translate(-100%);
    }
    100% {
        opacity:.6;
        transform: translate(0);
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:.6;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:.6;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:.6;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:.6;}
  }
